[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/JMarkin/mynvim.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/yazi/plugins/fg.yazi"]
	path = .config/yazi/plugins/fg.yazi
	url = https://github.com/DreamMaoMao/fg.yazi.git
[submodule ".config/yazi/plugins/starship.yazi"]
	path = .config/yazi/plugins/starship.yazi
	url = https://github.com/Rolv-Apneseth/starship.yazi.git
[submodule ".config/yazi/plugins/ouch.yazi"]
	path = .config/yazi/plugins/ouch.yazi
	url = https://github.com/ndtoan96/ouch.yazi.git
[submodule ".config/yazi/plugins/hexyl.yazi"]
	path = .config/yazi/plugins/hexyl.yazi
	url = https://github.com/Reledia/hexyl.yazi.git
[submodule ".config/yazi/plugins/glow.yazi"]
	path = .config/yazi/plugins/glow.yazi
	url = https://github.com/Reledia/glow.yazi.git
